@charset "UTF-8";
/*! modern-normalize v2.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
*,
::after,
::before {
  box-sizing: border-box
}
body {
  margin: 0;
  width: 100%;
  color: #000
}
hr {
  height: 0;
  color: inherit
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace,SFMono-Regular,Consolas,"Liberation Mono",Menlo,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
table {
  text-indent: 0;
  border-color: inherit
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
::-moz-focus-inner {
  border-style: none;
  padding: 0
}
:-moz-focusring {
  outline: ButtonText dotted 1px
}
:-moz-ui-invalid {
  box-shadow: none
}
legend {
  padding: 0
}
progress {
  vertical-align: baseline
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
summary {
  display: list-item
}
:active,
:focus {
  outline: 0
}
.is-keyboard-pressed :focus {
  outline: #ff6200 solid 2px
}
html {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  color: #000;
  font-family: Roboto,Arial,Helvetica,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  min-height: 100%;
  width: 100%;
  scroll-snap-type: y proximity
}
button {
  font-family: inherit;
  border: none;
  padding: 0;
  line-height: inherit;
  cursor: pointer
}
input,
select {
  font-family: inherit
}
input::-webkit-input-placeholder,
select::-webkit-input-placeholder {
  color: #666;
  opacity: 1
}
input:-moz-placeholder,
select:-moz-placeholder {
  color: #666;
  opacity: 1
}
input::-moz-placeholder,
select::-moz-placeholder {
  color: #666;
  opacity: 1
}
input:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #666;
  opacity: 1
}
select {
  appearance: none;
  padding-right: 40px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 18px;
  background-image: url(../images/components/inputs/icon-chevron-down.svg);
  cursor: pointer
}
select::-ms-expand {
  display: none
}
.o-list-bare {
  list-style: none;
  margin: 0;
  padding: 0
}
.o-list-bare__item {
  margin-left: 0
}
.o-icon {
  display: inline-block;
  line-height: .6
}
.o-icon > svg {
  display: inline-block;
  font-size: inherit;
  width: 1em;
  height: 1em;
  overflow: hidden;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor
}
.o-wrapper {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1010px
}
.o-wrapper--small {
  max-width: 890px
}
.o-wrapper--large {
  max-width: 1340px
}
.o-wrapper--full {
  max-width: 100%
}
.o-wrapper--flush {
  padding-left: 0;
  padding-right: 0
}
.o-wrapper-body {
  max-width: 1600px;
  margin: 0 auto
}
.s-cms-content {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 24px
}
.s-cms-content:last-child {
  margin-bottom: 0
}
.s-cms-content p {
  margin: 20px 0 0
}
.s-cms-content p:first-child {
  margin-top: 0
}
.s-cms-content--center {
  text-align: center
}
.s-cms-content--small-width {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto
}
.s-cms-content strong {
  font-weight: 700
}
.s-cms-content a:not([class]) {
  text-decoration: underline;
  font-weight: 700;
  transition: color .3s
}
.s-cms-content a:not([class]):hover {
  transition: color .3s
}
.s-cms-content figure,
.s-cms-content img,
.s-cms-content video {
  max-width: 570px;
  height: auto;
  display: block;
  margin: 20px auto;
  width: 100%;
  box-shadow: 0 6px 30px rgba(0,0,0,.08)
}
.s-cms-content figure.native,
.s-cms-content img.native,
.s-cms-content video.native {
  max-width: 100%
}
.s-cms-content figure > img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0;
  box-shadow: none
}
.s-cms-content ul:not([class]) {
  padding-left: 20px;
  margin: 10px 0 20px
}
.s-cms-content ul:not([class]):first-child {
  margin-top: 0
}
.s-cms-content ul:not([class]):last-child {
  margin-bottom: 0
}
.s-cms-content ul:not([class]) li {
  margin-bottom: 15px
}
.s-cms-content ul:not([class]) li:last-child {
  margin-bottom: 0
}
.s-cms-content ul:not([class]) li::marker {
  color: #0057a7
}
.s-cms-content ol:not([class]) {
  padding-left: 20px;
  margin: 10px 0 20px
}
.s-cms-content ol:not([class]):first-child {
  margin-top: 0
}
.s-cms-content ol:not([class]) li {
  margin-bottom: 15px
}
.s-cms-content ol:not([class]) li::marker {
  font-weight: 600
}
.u-hidden-visually {
  border: 0!important;
  clip: rect(0 0 0 0)!important;
  clip-path: inset(50%)!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  white-space: nowrap!important;
  width: 1px!important
}
.u-hidden {
  display: none!important
}
.u-text-small {
  font-size: 14px
}
.u-text-centered {
  text-align: center
}
.u-resize-animation-stopper * {
  animation: none!important;
  transition: none!important
}
@media (min-width:43.75em) {
  html {
    scroll-snap-type: none
  }
}
@media (min-width:61.25em) {
  .s-cms-content {
    margin-bottom: 40px
  }
  .s-cms-content ul:not([class]) {
    margin: 30px 0
  }
  .s-cms-content ul:not([class]) li {
    margin-bottom: 20px
  }
  .s-cms-content ol:not([class]) {
    margin: 30px 0
  }
  .s-cms-content ol:not([class]) li {
    margin-bottom: 20px
  }
}
@media (min-width:102.5em) {
  .o-wrapper-body {
    box-shadow: 0 0 4px rgba(0,0,0,.1)
  }
}
/*# sourceMappingURL=main.css.map */
